.App {
  text-align: center;
}

.App-header {
  background-color: #18191A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.background-container {
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.background {
  position: relative;
  display: block;
  float: left;
}
